/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-app-icon72x72@2x {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 144px;
  height: 144px;
}
.icon-favicon {
  background-image: url(sprite.png);
  background-position: -149px 0px;
  width: 32px;
  height: 32px;
}
