    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">温度列表</a></li> 
      </ul> 
      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1"> 
				 <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
         <div class="am-form-group">
<select ysselrun="com_listb.params.pid">
  <option  value="">选择省份</option> 
  <option ng-repeat="(key, value) in com_lista.data" value="{{value.pid}}">{{value.province}}</option> 
</select> 
            
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
           
        </div>
        <div class="am-u-sm-12 am-u-md-3">
           
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
             <table class="am-table am-table-striped am-table-hover table-main mytable">
                    <thead class="bordered-palegreen">
                        <tr align="center">
                           
                             <td width="30">ID</td>
                             
                             <td width="120">城市名称 </td> 
                             <td width="420">采集URL </td> 
                             <td width="60">受否采集</td> 
                              <td width="120">采集日期</td>                          
                        </tr>

                    </thead>
<tbody>
  <tr align="center"  ng-repeat="(key, value) in com_listb.data">
    <td >{{value.ctid}}</td> 
    <td>
      <input type="text" name="city" value="{{value.city}}" style="width: 100%"></td>
    <td>
      <input class="w_p100 pl_5" value="{{value.weatherurl}}" style="text-align: left;" type="text" name="weatherurl"></td>
    <td>
      <div class="checkbox">
        <label>
          <input type="checkbox" checkedit='cornot' value="{{value.cornot}}" class="colored-blue" ng-checked="value.cornot == 1">                    
          <span class="text"></span>
        </label>
      </div> 
    </td> 
    <td width="120">{{value.lastupdate*1000|date:'yyyy-MM-dd'}}</td>
  </tr>
</tbody>
 </table>
             <div style="text-align: center;" id="YS_plista">
             	
             </div>
          </form>
        </div>

      </div>
        </div>

      
 

      </div>
    </div>